.gradient-custom {
    /* fallback for old browsers */
    background: white;

    /* Chrome 10-25, Safari 5.1-6 */
    /*background-image: linear-gradient(-225deg, #DFFFCD 0%, #90F9C4 48%, #39F3BB 100%);*/

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);    line-height: 2.15;*/
    padding-left: .75em;
    padding-right: .75em;
}
.card-registration .select-arrow {
    top: 13px;
}
